.main-statistics {
    display: flex;
    flex-direction: column;
    table-layout: fixed;
    text-align: center;
    &__children {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 20px;
    }
    &__category {
        width: 40%;
        display: flex;
        span {
            font-size: 20px;
            padding-inline: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 10px;
            svg {
                font-size: 15px;
            }
        }
    }
    &__table {
        border: solid red;
        justify-content: center;
        align-items: center;
    }
}
