.main-statistics {
    display: flex;
    flex-direction: column;
    table-layout: fixed;
    text-align: center;
    &__children {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 20px;
    }
    &__table {
        border: solid red;
        justify-content: center;
        align-items: center;
        table {
            max-height: 50px !important;
        }
    }
}
