.main-statistics {
    display: flex;
    flex-direction: column;
    table-layout: fixed;
    text-align: center;
    &__title {
        font-size: 32px;
        color: #6744c6;
    }
    &__children {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 20px;
    }
    &__table {
        border: solid red;
        justify-content: center;
        align-items: center;
    }
}
