$bp-large: 1370px;
$bp-medium: 992px;
$bp-small: 768px;

$primary-color: #6744c6;
$primary-bg: #efefef;

$exo: 'Exo', sans-serif;
$leoscar: 'Leoscar', sans-serif;
$oleo-script: 'Oleo Script', sans-serif;

$font-weight-title: 500;
