.main-items {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
    }
    &__icons {
        :hover {
            cursor: pointer;
        }
    }
    &__space {
        display: flex;
        justify-content: center;
        align-items: center;
        h4 {
            font-size: 16px;
            margin: auto;
            line-height: 30px;
        }
        p {
            font-size: 12px;
            margin: auto;
            line-height: 5px;
        }
    }
}
