{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 90,
    "jsxSingleQuote": true
}
