.custom-input {
    &__prefix {
        width: 150px !important;
    }
}

.custom-input .ant-input-group-addon {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.custom-input .ant-input-group-addon:active {
    border: none;
}

.custom-input .ant-input {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
