.main-contactData {
    .compact {
        display: flex;

        &__select {
            margin: 0;
            width: 180px;
        }

        &__type-doc {
            height: auto;
            display: flex;
        }

        &__item {
            margin: 5px 0;
        }
    }

    &__item {
        margin: 5px 0;
    }

    &__option {
        height: 35px;
        display: flex;
        align-items: center;

        background-color: white;
        border-radius: 20px;
        border: solid 0.01px rgba(0, 0, 0, 0.178);
    }
    &__date {
        border-radius: 20px;
        display: flex;
    }

    &__input {
        width: 100%;
        height: 35px;
        border-radius: 2vh;
        font-size: 15px;
    }
}

.ant-form-item {
    margin-bottom: 0;
}

@media only screen and (max-width: 1400px) {
    .main-contactData {
        .compact {
            &__select {
                width: 50%;
                display: flex;
                align-items: center;
            }

            &__type-doc {
                width: 100%;
                height: 35px;
                min-width: 155px;
            }

            &__item {
                display: flex;
                align-items: center;
                width: 50%;
            }
        }

        &__item {
            width: 100%;
            height: auto;
            align-items: center;
            box-sizing: none;
            margin: 0;
            margin: 5px 0;
        }

        &__date {
            border-radius: 20px;
            width: 100%;
            height: 35px;
            display: flex;
            justify-content: center;
        }

        &__input {
            width: 100%;
            height: 35px;
            border-radius: 2vh;
            font-size: 15px;
        }
    }
}
@media only screen and (max-width: 1200px) {
    .main-contactData {
        .compact {
            &__select {
                width: 50%;
                display: flex;
                align-items: center;
            }

            &__type-doc {
                width: 100%;
                height: 35px;
                min-width: 155px;
            }

            &__item {
                display: flex;
                align-items: center;
                width: 50%;
            }
        }

        &__item {
            width: 100%;
            height: auto;
            align-items: center;
            box-sizing: none;
            margin: 0;
            margin: 5px 0;
        }

        &__date {
            border-radius: 20px;
            width: 315px;
            height: 35px;
            display: flex;
            justify-content: center;
        }

        &__input {
            width: 100%;
            height: 35px;
            border-radius: 2vh;
            font-size: 15px;
        }
    }
}

@media only screen and (max-width: 992px) {
    .main-contactData {
        .compact {
            &__select {
                width: 50%;
                display: flex;
                align-items: center;
            }

            &__type-doc {
                width: 100%;
                height: 35px;
                min-width: 155px;
            }

            &__item {
                display: flex;
                align-items: center;
                width: 50%;
            }
        }

        &__item {
            width: 100%;
            height: auto;
            align-items: center;
            box-sizing: none;
            margin: 0;
            margin: 5px 0;
        }

        &__date {
            border-radius: 20px;
            width: 315px;
            height: 35px;
            display: flex;
            justify-content: center;
        }

        &__input {
            width: 100%;
            height: 35px;
            border-radius: 2vh;

            font-size: 15px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .main-contactData {
        .compact {
            &__select {
                width: 50%;
                display: flex;
                align-items: center;
            }

            &__type-doc {
                width: 100%;
                height: 35px;
                min-width: 155px;
            }

            &__item {
                display: flex;
                align-items: center;
                width: 50%;
            }
        }

        &__item {
            width: 100%;
            height: auto;
            align-items: center;
            box-sizing: none;
            margin: 0;
            margin: 5px 0;
        }

        &__date {
            border-radius: 20px;
            width: 315px;
            height: 35px;
            display: flex;
            justify-content: center;
        }

        &__input {
            width: 100%;
            height: 35px;
            border-radius: 2vh;
            font-size: 15px;
        }
    }
}
@media only screen and (max-width: 576px) {
    .main-contactData {
        .compact {
            border: solid;

            &__select {
                width: 50%;
                display: flex;
                align-items: center;
            }

            &__type-doc {
                width: 100%;
                height: 35px;
                min-width: 155px;
            }

            &__item {
                display: flex;
                align-items: center;
                width: 50%;
            }
        }

        &__item {
            width: 100%;
            height: auto;
            align-items: center;
            box-sizing: none;
            margin: 0;
            margin: 5px 0;
        }

        &__date {
            border-radius: 20px;
            width: 315px;
            height: 35px;
            display: flex;
            justify-content: center;
        }

        &__input {
            width: 100%;
            height: 35px;
            border-radius: 2vh;
            font-size: 15px;
        }
    }
}
