@use '../../../sass/base/vars';
@use '../../../sass/utils/mixins';

.main-shape-liquid {
    @include mixins.flex-center;
    flex-direction: column;
    font-family: vars.$exo;
    font-weight: bold;
    text-align: center;
    height: 250px;
    width: 100%;

    p {
        padding-top: 20px;
    }
    canvas {
        margin: auto;
        display: flex;
    }
}

@media only screen and (max-width: 992px) {
    .main-shape-liquid {
        height: auto;

        p {
            margin: 0;
            padding-top: 20px;
            font-size: 12px;
        }
        canvas {
            width: 100%;
            height: 250px !important;
        }
    }
}

@media only screen and (max-width: 768px) {
    .main-shape-liquid {
        height: auto;
        p {
            margin: 0;
            padding-top: 20px;
            font-size: 12px;
        }
        canvas {
            width: 100% !important;
            height: 120px !important;
        }
    }
}

@media only screen and (max-width: 576px) {
    .main-shape-liquid {
        height: auto;
        p {
            margin: 0;
            padding-top: 20px;
            font-size: 12px;
        }
        canvas {
            width: 100% !important;
            height: 140px !important;
        }
    }
}
