.main-shape-liquid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'exo';
    padding: 10px 0;
    box-sizing: border-box;
    font-weight: bold;
    height: 200px;
}
