.main-shape-liquid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'exo';
    padding: 20px 0;
    box-sizing: border-box;
    font-weight: bold;
    canvas {
        width: 100% !important;
        height: 100% !important;
    }
}
