@use '../../../sass/base/vars';

.up-down-icons {
    font-size: 20px;
}
.main-table {
    text-align: center;
    &__title {
        font-size: 20px;
        color: vars.$primary-color;
    }
}

.actions {
    text-align: center;
}
