.btn {
    border: none;
}
.up-down-icons {
    font-size: 20px;
}
.main-table {
    display: flex;
    flex-direction: column;
    table-layout: fixed;
    text-align: center;
    h1 {
        font-size: large;
    }
}
