.btn {
    border: none;
}
.up-down-icons {
    font-size: 20px;
}
.main-table {
    display: flex;
    flex-direction: column;
    table-layout: fixed;
    text-align: center;
    &__title {
        font-size: 32px;
        color: #6744c6;
    }
}

.actions {
    text-align: center;
}
