:where(.css-dev-only-do-not-override-k7429z).ant-btn-primary:not(:disabled):hover {
    color: #fff;
    background-color: #6744c6eb;
}

.forgot-password {
    background: {
        image: url('./../../../assets/img/publicBackground.jpg');
        repeat: 'no-repeat';
        size: cover;
        position: center;
    }
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        display: flex;
        border-radius: 20px;
        width: 50%;
        height: 600px;
        color: white;
    }

    &__image-container {
        width: 50%;
        border-radius: 20px 0px 0px 20px;
    }

    &__submit-form {
        border : {
            radius: 16px;
            color: transparent;
        }
        height: 40px;
        border-radius: 50px;
        display: flex;
        text-align: center;
        width: 50%;
        display: flex;
        margin: 8% auto 6% auto;
        background-color: #6744c6;
        align-items: center;
        justify-content: center;
    }

    &__form-data {
        background-color: white;
        padding: 6px;
        width: 50%;
        max-height: 100vh;
        border-radius: 0 20px 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        display: flex;
        font-size: 3vh;
        color: black;
    }

    &__icon {
        font-size: 4vh;
        color: rgba(0, 0, 0, 0.849);
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__input {
        height: 36px;
        border-radius: 50px;
        display: flex;
        text-align: center;
    }

    &__item {
        border-radius: 26px;
        width: 80%;
    }

    &__link-forgot-password {
        margin: 0 auto;
        font-size: 2vh;
    }
}

@media only screen and (max-width: 1400px) {
    .forgot-password {
        width: 100%;
        display: grid;
        place-items: center;

        &__title {
            font-size: 26px;
        }

        &__container {
            width: 100%;
            height: 600px;
        }

        &__form-data {
            width: 400px;
            height: 100%;
            display: flex;
            justify-content: center;
            padding: 6% 0;
            border-radius: 0px 20px 20px 0px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .forgot-password {
        width: 100%;
        display: grid;
        place-items: center;

        &__title {
            font-size: 26px;
        }

        &__container {
            width: 100%;
            height: 600px;
        }

        &__form-data {
            width: 400px;
            height: 100%;
            display: flex;
            justify-content: center;
            padding: 6% 0;
            border-radius: 0px 20px 20px 0px;
        }
    }
}

@media only screen and (max-width: 992px) {
    .forgot-password {
        width: 100%;
        display: grid;
        place-items: center;

        &__title {
            font-size: 26px;
        }

        &__container {
            width: 100%;
            height: 600px;
        }

        &__image-container {
            display: none;
        }

        &__form-data {
            width: 400px;
            height: 100%;
            display: flex;
            justify-content: center;
            padding: 6% 0;
            border-radius: 20px 20px 20px 20px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .forgot-password {
        width: 100%;
        display: grid;
        place-items: center;

        &__title {
            font-size: 26px;
        }

        &__container {
            width: 100%;
            height: 600px;
        }

        &__image-container {
            display: none;
        }

        &__form-data {
            width: 400px;
            height: 100%;
            display: flex;
            justify-content: center;
            padding: 6% 0;
            border-radius: 20px 20px 20px 20px;
        }
    }
}

@media only screen and (max-width: 576px) {
    .forgot-password {
        width: 100%;
        display: grid;
        place-items: center;

        &__title {
            font-size: 26px;
        }

        &__container {
            width: 100%;
            height: 600px;
        }

        &__image-container {
            display: none;
        }

        &__form-data {
            width: 400px;
            height: 100%;
            display: flex;
            justify-content: center;
            padding: 6% 0;
            border-radius: 20px 20px 20px 20px;
        }
    }
}
