.forgot-password {
    background: {
        image: url('./../../../assets/img/publicBackground.jpg');
        repeat: 'no-repeat';
        size: cover;
        position: center;
    }
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'exo';
    &__container {
        display: flex;
        border-radius: 20px;
        width: 50%;
        height: 80%;
        color: white;
    }
    &__image-container {
        width: 50%;
        border-radius: 20px 0px 0px 20px;
    }
    &__submit-form {
        border : {
            radius: 15px;
            color: transparent;
        }
        height: 40px;
        border-radius: 50px;
        display: flex;
        text-align: center;
        width: 50%;
        display: flex;
        margin: 7% auto 5% auto;
        background-color: #6744c6;
        align-items: center;
        justify-content: center;
    }

    &__form-data {
        background-color: white;
        padding: 5px;
        width: 50%;
        max-height: 100vh;
        border-radius: 0 20px 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .start {
            display: flex;
            align-items: center;
            &__lines {
                width: 15vh;
                max-width: 15vh;
                min-width: 15vh;
                border-top: 1px solid #999;
                color: #6744c6;
            }
            &__legend {
                color: #6744c6;
                font-size: medium;
                float: left;
            }
        }
    }

    &__title {
        display: flex;
        font-size: 3vh;
        color: black;
    }
    &__icon {
        font-size: 5vh;
        color: rgba(0, 0, 0, 0.849);
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__input {
        height: 35px;
        border-radius: 50px;
        display: flex;
        text-align: center;
        padding: 0 90px 0 150px;
    }
    &__item {
        border-radius: 25px;
        width: 80%;
        margin: 10% auto 10% auto;
    }
    &__link {
        margin: 0 auto;
        font-size: 35px;
    }
}

@media only screen and (max-width: 1400px) {
    .forgot-password {
        width: 100%;
        display: grid;
        place-items: center;
        &__title {
            font-size: 25px;
        }
        &__container {
            width: 100%;
            height: 600px;
        }

        &__form-data {
            width: 400px;
            height: 100%;
            display: flex;
            justify-content: center;
            padding: 5% 0;
            border-radius: 0px 20px 20px 0px;
        }
        &__input {
            padding: 0 90px 0 120px;
        }
    }
}
@media only screen and (max-width: 1200px) {
    .forgot-password {
        width: 100%;
        display: grid;
        place-items: center;
        &__title {
            font-size: 25px;
        }
        &__container {
            width: 100%;
            height: 600px;
        }
        &__form-data {
            width: 400px;
            height: 100%;
            display: flex;
            justify-content: center;
            padding: 5% 0;
            border-radius: 0px 20px 20px 0px;
        }
        &__input {
            padding: 0 90px 0 120px;
        }
    }
}

@media only screen and (max-width: 992px) {
    .forgot-password {
        width: 100%;
        display: grid;
        place-items: center;
        &__title {
            font-size: 25px;
        }
        &__container {
            width: 100%;
            height: 600px;
        }
        &__image-container {
            display: none;
        }
        &__form-data {
            width: 400px;
            height: 100%;
            display: flex;
            justify-content: center;
            padding: 5% 0;
            border-radius: 20px 20px 20px 20px;
        }
        &__input {
            padding: 0 90px 0 120px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .forgot-password {
        width: 100%;
        display: grid;
        place-items: center;
        &__title {
            font-size: 25px;
        }
        &__container {
            width: 100%;
            height: 600px;
        }
        &__image-container {
            display: none;
        }
        &__form-data {
            width: 400px;
            height: 100%;
            display: flex;
            justify-content: center;
            padding: 5% 0;
            border-radius: 20px 20px 20px 20px;
        }

        &__input {
            padding: 0 90px 0 120px;
        }
    }
}

@media only screen and (max-width: 576px) {
    .forgot-password {
        width: 100%;
        display: grid;
        place-items: center;
        &__title {
            font-size: 25px;
        }
        &__container {
            width: 100%;
            height: 600px;
        }
        &__image-container {
            display: none;
        }
        &__form-data {
            width: 400px;
            height: 100%;
            display: flex;
            justify-content: center;
            padding: 5% 0;
            border-radius: 20px 20px 20px 20px;
        }
        &__input {
            padding: 0 90px 0 120px;
        }
    }
}
