@use '../../../sass/utils/mixins';
@use '../../../sass/base/vars';

.forgot-password {
  @include mixins.flex-center;

  background: {
    image: url('../../../assets/img/public/forgot.jpg');
    repeat: 'no-repeat';
    size: cover;
    position: center;
  }
  height: 100vh;
  width: 100vw;

  &__form {
    @include mixins.flex-center;
    gap: 8px;
    text-align: center;
    background-color: white;

    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    height: 40vh;
    padding: 0 40px;
    min-width: 35dvw;
    min-height: 380px;

    @media only screen and (max-width: vars.$bp-large) {
      padding: 0 20px;
    }

    @media only screen and (max-width: vars.$bp-medium) {
      padding: 0 18px;
    }

    @media only screen and (max-width: vars.$bp-small) {
      padding: 0 16px;
    }
  }

  &__title {
    font-size: 32px;
    text-wrap: balance;
  }

  &__description {
    font-size: 16px;
    text-wrap: pretty;
  }

  &__item {
    width: 100%;
    margin-bottom: 16px;
  }

  &__input,
  &__button {
    @include mixins.input-size;
  }

  &__actions {
    margin-top: 10px;
    font-size: 16px;
    font-weight: vars.$font-weight-title;
  }
}
