.main-sidebar-private {
    &__subtitle {
        display: grid;
        place-items: center;
        margin: 50px 6px;
        font-family: exo;
        font-size: 20px;
    }
    &__menu {
        margin-top: 10px;
        font-size: 14px;
    }
}
