.main-sidebar-private {
    &__subtitle {
        margin: 50px 0 0 35px;
        font-family: exo;
        font-size: 20px;
    }
    &__menu {
        margin-top: 10px;
        font-size: 14px;
    }
}
