.main-header-private {
    padding: 0 30px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Oleo Script;

    &__title {
        margin: auto;
        width: 60%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #6744c6;
    }
}
