.main-profile {
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 10px 10px 30px -19px rgba(0, 0, 0, 1);
    display: flex;
    width: 50%;
    &__data {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 20px;
        h1 {
            text-align: center;
        }
        &__role {
            color: rgba(37, 37, 37, 0.39);
        }
        p {
            font-family: 'Oleo Script';
            margin: 0;
        }
    }
}
