.main-profile {
    width: 80%;
    height: auto;
    margin: 0 auto;

    &__photo {
        width: 100%;
        height: 200px;
        margin: 50px auto;
        border-radius: 50%;
        display: flex;
    }
    &__data {
        margin: auto;
        width: 70%;
        max-height: 700px;
        padding: 50px 0;
        display: flex;
        font-size: 20px;
        justify-content: space-around;
        &__name {
            font-size: x-large;
        }
        &__items {
            color: rgba(100, 100, 100, 0.39);
        }
    }
}
