.main-modals {
    width: 300px;
    height: auto;
    display: flex;
    margin: 80px auto;
    &__btn {
        font-family: 'exo';
        color: white;
        width: 300px;
        height: 40px;
        background-color: #6744c6;
    }
    &__modals {
        padding-bottom: 0;
    }
}
