:where(.css-dev-only-do-not-override-k7429z).ant-card .ant-card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    max-height: 72px;
}
.main-dashboard {
    &__header {
        display: flex;
        align-items: center;
    }
    &__cards-content {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &__cards {
        width: 100%;
        padding: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__children {
        width: 100%;
        height: 72px;
        display: flex;
        background-color: #6744c605;
        border-radius: 8px;
        margin-bottom: 2px;
        justify-content: center;
        img {
            margin: auto 0;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
    &__select {
        text-align: center;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
    .main-dashboard {
        &__children {
            img {
                margin: auto 0;
                width: 8%;
                height: 70%;
            }
        }
        &__header {
            flex-direction: column;
        }
        &__cards-content {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        &__cards {
            width: 100%;
            padding: 0 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__skills {
        }
        &__progress {
        }
        &__pie-chart {
        }
        &__bar-chart {
        }
    }
}

@media only screen and (max-width: 992px) {
    .main-dashboard {
        &__children {
            img {
                margin: auto 0;
                width: 8%;
                height: 70%;
            }
        }
        &__header {
            flex-direction: column;
        }
        &__cards-content {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        &__cards {
            width: 100%;
            padding: 0 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__skills {
        }
        &__progress {
        }
        &__pie-chart {
        }
        &__bar-chart {
        }
    }
}

@media only screen and (max-width: 768px) {
    .main-dashboard {
        &__children {
        }

        &__skills {
        }
        &__progress {
        }
        &__pie-chart {
        }
        &__bar-chart {
        }
        &__header {
            flex-direction: column;
        }
        &__cards-content {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        &__cards {
            width: 100%;
            padding: 0 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: 576px) {
    .main-dashboard {
        &__children {
        }
        &__skills {
        }
        &__bar-chart {
        }
        &__pie-chart {
        }
        &__progress {
        }
        &__skills {
        }
        &__header {
            flex-direction: column;
        }
        &__cards-content {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        &__cards {
            width: 80%;
            padding: 0 5px;
        }
    }
}
/*
 margin: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 90px 200px 230px;
    height: 100%;
    box-sizing: border-box;
    &__children,
    &__custom-card,
    &__bar-chart {
        align-items: center;
        box-shadow: 10px 10px 51px -37px rgba(0, 0, 0, 0.75);
        box-sizing: border-box;
        display: flex;
        height: 100%;
        justify-content: center;
    }
    &__children {
        border-radius: 8px;
        padding: 5px;
        width: 30%;
        height: 72px;
        margin: auto;
        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }
    &__select {
        width: 100%;
    }
    &__custom-card {
        border-radius: 8px;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: #6744c60e;
    }
    &__bar-chart {
        width: 100%;
        height: 100%;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    &__pie-chart {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    &__progress {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    &__skills {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 5;
    }
 */
