.main-dashboard {
    margin: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 90px 200px 230px;
    height: 100%;
    box-sizing: border-box;

    &__div0 {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        box-sizing: border-box;
        box-shadow: 10px 10px 51px -37px rgba(0, 0, 0, 0.75);
        img {
            width: 50px;
        }
    }
    &__div2 {
        box-sizing: border-box;
        box-shadow: 10px 10px 51px -37px rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &__div4 {
        box-sizing: border-box;
        box-shadow: 10px 10px 51px -37px rgba(0, 0, 0, 0.75);
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__div5 {
        box-sizing: border-box;
        box-shadow: 10px 10px 51px -37px rgba(0, 0, 0, 0.75);
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__progress {
        box-sizing: border-box;
        box-shadow: 10px 10px 51px -37px rgba(0, 0, 0, 0.75);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__skills {
        box-shadow: 10px 10px 51px -37px rgba(0, 0, 0, 0.75);
        box-sizing: border-box;
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 5;
        display: flex;
    }
}
