.login {
    background: {
        image: url('./../../../assets/img/publicBackground.jpg');
        repeat: 'no-repeat';
        size: cover;
        position: center;
    }
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;

    &__container {
        display: flex;
        border-radius: 20px;
        width: 50%;
        height: 70%;
        color: white;

        &__tittle {
            font-family: Oatlander;
            position: absolute;
            margin-top: 200px;
            margin-left: 100px;
            font-size: 35px;
            color: #6744c6;
            width: 100px;
        }
        img {
            width: 50%;
            height: 100%;
            border-radius: 20px 0px 0px 20px;
        }
        &__form {
            background-color: white;
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            padding: 8% 0 5% 0;
            border-radius: 0 20px 20px 0;
            align-content: center;

            &__icon {
                font-size: 250%;
                color: rgba(0, 0, 0, 0.849);
                width: 100%;
                display: flex;
                justify-content: center;
            }

            &__item {
                border-radius: 25px;
                width: 80%;
                margin: 5% auto 0 auto;
                &__input {
                    //   border: solid;
                    height: 40px;
                    border-radius: 50px;
                    display: flex;
                    text-align: center;
                }
            }
            &__link {
                width: 100%;
                display: flex;
                justify-content: center;
                color: #6744c6;
            }

            .start {
                width: 100%;
                margin: 20px 0 20px 0;
                display: flex;
                justify-content: center;
                &__lines {
                    margin: 0 50px;
                    width: 90px;
                    border-top: 1px solid #999;
                    position: relative;
                    top: 10px;
                    float: left;
                    color: #6744c6;
                }
                &__legend {
                    color: #6744c6;
                    font-weight: bold;
                    float: left;
                }
            }

            h2 {
                display: flex;
                justify-content: center;
                font-size: 35px;
                color: black;
            }

            Button {
                border : {
                    radius: 15px;
                    color: transparent;
                }
                height: 40px;
                border-radius: 50px;
                display: flex;
                text-align: center;
                width: 80%;
                display: flex;
                margin: 7% auto 5% auto;
                background-color: #6744c6;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@media only screen and (max-width: 912px) {
    .login {
        &__container {
            height: auto;
            img {
                display: none;
            }
            &__form {
                width: 100vh;
                height: 70vh;
                display: flex;
                margin: auto;
                justify-content: center;
                border-radius: 20px 20px 20px 20px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .login {
        &__container {
            height: auto;
            img {
                display: none;
            }
            &__form {
                width: 100vh;
                height: 70vh;
                display: flex;
                margin: auto;
                justify-content: center;
                border-radius: 20px 20px 20px 20px;
            }
        }
    }
}

@media only screen and (max-width: 540px) {
    .login {
        &__container {
            width: 60vh;
            height: auto;
            img {
                display: none;
            }
            &__form {
                width: 100vh;
                height: 70vh;
                display: flex;
                margin: auto;
                justify-content: center;
                border-radius: 20px 20px 20px 20px;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .login {
        display: flex;
        &__container {
            margin: auto;
            img {
                display: none;
            }
            &__form {
                width: 90%;
            }
        }
    }
}

@media only screen and (max-width: 280px) {
    .login {
        display: flex;
        &__container {
            margin: auto;
            img {
                display: none;
            }
            &__form {
                width: 70%;
            }
        }
    }
}
