.custom-card {
    width: 100%;
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
    .custom-card {
        margin: 0 5px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100% !important;
    }
}

@media only screen and (max-width: 576px) {
    .custom-card {
        margin: 5px 0;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
