.main-sider {
    &__title {
        width: 60%;
        color: #6744c6;
        font-family: Oleo Script;
        margin: auto;
        font-size: 20px;
    }

    &__subtitle {
        margin: 50px 0 0 35px;
        font-family: exo;
        font-size: 20px;
    }
    &__menu {
        margin-top: 10px;
        font-size: 14px;
    }
}
