@use '../../../sass/utils/mixins';
@use '../../../sass/base/vars';

.active-account {
  @include mixins.flex-center;
  min-height: 100vh;
  min-width: 100vw;
  background: {
    image: url('../../../assets/img/public/password.jpg');
    repeat: no-repeat;
    size: cover;
  }

  &__container {
    @include mixins.flex-center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    gap: 10px;
    height: 35vh;
    text-align: center;
    width: 40vw;

    @media only screen and (max-width: vars.$bp-medium) {
      width: 55vw;
    }

    @media only screen and (max-width: vars.$bp-small) {
      width: 65vw;
    }

    @media only screen and (max-width: 477px) {
      width: 85vw;
    }

    @media only screen and (max-height: 930px) {
      height: 50vh;
    }
  }

  &__title {
    font-size: 36px;
    text-wrap: balance;
    user-select: none;
    padding: 0 12px;
  }

  &__icon > svg {
    height: 150px;
    width: 150px;
    padding-bottom: 20px;
  }

  &__actions {
    font: {
      size: 18px;
      weight: vars.$font-weight-title;
    }
  }
}
