.custom-button {
    border : {
        radius: 16px;
    }
    width: 50%;
    height: 40px;
    border-radius: 50px;
    display: flex;
    text-align: center;
    display: flex;
    margin: 7% 0;
    background-color: #6744c6;
    align-items: center;
    justify-content: center;
}
